.header {
  grid-area: h;
  background-color: rgb(82, 89, 82);
  margin: 3px;

}

.loginLogo {
  padding: 1px;
  margin: 3px;
}

.loginLogo img {
  width: 20px;
  height: 20px;
  padding-left: 10px;
}

.loginBlock {
  float: left;
  padding-left: 70px;
}

.loginBlock a {
  color: gray;


}