.nav {
    grid-area: n;
    background-color: rgb(96, 235, 92);
    padding: 20px;
}

.item {
    color: dimgray;
    text-decoration: none;
}

.active {
    color: white;
    text-decoration: none;

}
