.descriptionBlock {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
}


.contact {
    padding-left: 10px;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.profileInfo img {
    margin: 10px;
    border: 1px solid gray;
    border-radius: 15px;
}