.App {
  /* text-align: center; */
  font-family: "Goudy Bookletter 1911", sans-serif;
}

.app-wrapper {
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: h;
}
.header img {
  width: 60px;
  height: 60px;
  background-color: rgb(124, 231, 124);
}

.nav {
  grid-area: n;
  background-color: rgb(96, 235, 92);
}

.content {
  grid-area: c;
  background-color: rgb(52, 124, 42);
}
